[submodule "vendor/prezto"]
	path = vendor/prezto
	url = git@github.com:sorin-ionescu/prezto.git
	branch = master
[submodule "vendor/rbenv"]
	path = vendor/rbenv
	url = git@github.com:sstephenson/rbenv.git
